/* -------------- Сброс стилей -------------- */

*, *::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body, h1, h2, h3, h4, p, ul, ol,
li, figure, figcapton, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Beaufort for LoL", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
